<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/base.css">
    <link rel="stylesheet" href="../../styles/layout.css">
    <link rel="stylesheet" href="../../styles/modules.css">
    <title>New Search</title>
</head>
<body>
    <nav>
        <h1>test search page</h1>
    </nav>

    <form action="/searches" method="POST">
        <fieldset>
            <legend>Search by Title or Author</legend>
            <input type="text" name="userInput">

            <label for="title">Title</label>
            <input type="radio" id='title' name="authorOrTitle" value="title">

            <label for="author">Author</label>
            <input type="radio" id='author' name="authorOrTitle" value="author">
            
            <input type="submit" value="Search the Google Books API">
        </fieldset>
    </form>
</body>
</html>