<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/base.css">
    <link rel="stylesheet" href="../../styles/layout.css">
    <link rel="stylesheet" href="../../styles/modules.css">
    <title>Show</title>
</head>
<body>
    <nav>
        <h1><a href="/">Best Books!</a></h1>
    </nav>
    <h2 class="header">Search Results</h2>
    <ul>
        <% for(let i = 0; i < results.length; i++){ %>
            <li>
                <img src="<%= results[i].img_url %>"></img>
                <h3><%= results[i].title %></h3>
                <h4><%= results[i].author %></h4>
                <p><%= results[i].description %></p>
            </li>
        <% } %>
    </ul>
</body>
</html>