<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    <title>500 Server Error</title>
</head>
<body>
    <h1>Shoot! You've encountered a 500 server error</h1>
    <h2><a href="/">Go Home</a></h2>
</body>
</html>