<%- include('../layout/head.ejs') %>

    <body>
        <%- include('../layout/header.ejs') %>
            <h1>Shoot! You've encountered a 500 server error</h1>
            <h2><a href="/">Go Home</a></h2>
        <%- include('../layout/footer.ejs') %>
    </body>

    </html>